*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 191, 191);
}

form {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    width: 400px;
    background-color: white;
}

input {
    padding: 3px 4px;
    width: 100%;
}


h1 {
text-align: center;
}


.button {
    text-align: center;
    margin : 10px;
}

button {
    padding: 5px;
    font-weight: 700;
    background-color: rgb(49, 138, 44);
    color: white;
    border-radius: 5px;
}